* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::selection {
	color: #fff;
	background-color: #111;
}

body {
	font-family: "Rubik", sans-serif;
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: rgb(245, 245, 245);
}

.main-card {
	width: 100%;
	max-width: 350px;
	box-shadow: 0.3px 0.3px 19px 3px rgba(0, 0, 0, 0.068);
	display: grid;
	border-radius: 0.5em;
	overflow: hidden;
	grid-template: repeat(3, auto) / 1fr;
	background-color: white;
}

.image-top {
	width: 100%;
	filter: brightness(0.7);
}

.image-top img {
	display: block;
	width: 100%;
}

.middle-earth {
	width: 100%;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-block: 2rem;
}

.score-part {
	display: grid;
	width: 100%;
	grid-template: auto / repeat(3, 1fr);
	place-items: center;
	font-size: 4rem;
}

.set-length {
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.set-length label {
	font-size: 0.9rem;
	font-weight: 500;
	color: #333;
}

.set-length input {
	width: 80%;
	padding: 0.5rem;
	font-size: 1rem;
	border-radius: 6px;
	border: 1px solid rgb(230, 230, 230);
	font-family: "Rubik", sans-serif;
	text-align: center;
	outline: none;
	background-color: rgb(245, 245, 245);
}

.set-length input:focus {
	border-color: #358600;
	background-color: white;
}

.buttons {
	width: 100%;
	display: grid;
	grid-template: auto / repeat(3, 1fr);
}

button {
	color: white;
	font-weight: 500;
	font-family: "Rubik", sans-serif;
	padding: 0.5rem;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	transition: filter 0.3s ease;
}

button:hover {
	filter: brightness(1.2);

}

#player-uno {
	background-color: #fc9149;
}

#reset {
	background-color: #a19cf0;
}

#player-dos {
	background-color: #67cfb3;
}

.status {
	background-color: #111111;
	width: max-content;
	color: #111;
	font-size: 0.9rem;
	font-weight: 300;
	text-align: center;
	padding: 0.25rem 0.5rem;
	border-radius: 6px;
	margin-top: 1rem;
	display: block;
}

.loser {
	color: #d43f22;
}

.winner {
	color: #358600;
}

.disabled {
	filter: saturate(0.1);
	cursor: not-allowed;
}

.disabled:hover {
	filter: saturate(0.1);
}

footer {
	width: 100%;
	text-align: center;
	background-color: white;
	padding: 0.5rem;
	box-shadow: 0.3px -0.3px 19px 3px rgba(0, 0, 0, 0.068);
}

footer a {
	display: inline-block;
	background-color: #a19cf0;
	text-decoration: none;
	color: #fff;
	padding: 0.25rem 0.5rem;
	margin-left: 0.25rem;
	border-radius: 6px;
}

footer a:hover {
	filter: brightness(1.2);
}

#set-game-length {
	background-color: #358600;
}
